body {
  background: #eeeeee;
  padding-bottom: 35px;
}

.navbar.navbar-default.navbar-inverse {
  .border-radius(0px);
  .box-shadow(0 1px 3px rgba(0, 0, 0, 0.25));
}

.navbar-header {
  text-align: center;
  float: none;

  .navbar-brand {
    display: inline-block;
    float: none;
  }
  .navbar-back {
    position: absolute;
    left: 14px;
    line-height: 53px;
    padding: 0 10px;
    color: white;
  }
  .navbar_links {
    position: absolute;
    right: 24px;
    top: 0px;
    line-height: 50px;

    .navbar_links_i {
      display: inline-block;
      margin-left: 15px;

      .navbar_links_i_a {
        color: white;
      }
    }
  }
}

hr {
  width: 100%;
}