.full-p {
  // full project
  background: #fafafa;
  .border-radius(4px);
  .box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
  display: block;
  margin-bottom: 16px;

  .full-p_left {
    float: left;
    width: 18%;

    .full-p_left_img {
      // image
      margin-top: 15px;
      margin-left: 20px;
      height: 80px;
      width: 80px;
      .border-radius(50%);
    }
  }

  .full-p_center {
    float: left;
    width: 55%;

    .full-p_center_t {
      // title
      font-size: 20px;
      margin: 0px;
      margin-top: 22px;
      color: #34495e;
    }
    .full-p_center_desc {
      // description
      font-size: 14px;
      margin-top: 10px;
      color: #34495e;
    }
  }

  .full-p_right {
    float: left;
    width: 27%;
    text-align: right;
    padding-right: 24px;

    .full-p_right_cost {
      font-weight: bold;
      margin-top: 15px;
      margin-bottom: 2px;
    }
    .full-p_right_pays {
      font-size: 14px;
      font-weight: bold;
      margin: 0;
      color: #34495e;
    }
    .full-p_right_hands {
      margin-top: 4px;
      font-size: 14px;
      color: #34495e;
    }
  }

  .full-p_cnt {
    padding: 10px 24px;

    .full-p_cnt_desc {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }

  .full-p_comments {
    padding: 0 24px 5px 24px;

    .full-p_comments_i {
      border-bottom: 1px solid #dcdddf;
      font-size: 14px;
      margin-bottom: 10px;
      padding-bottom: 10px;

      &:last-child {
        border-bottom: none;
      }

      .full-p_comments_i_name {
        font-size: 16px;
        font-weight: bold;
      }
      .full-p_comments_i_date {
        font-size: 13px;
        text-align: right;
      }
    }
  }
  .full-p_new-comment {
    padding: 5px 24px 30px 24px;
  }
}
