.p {
  // projects
  .p_i {
    // project item
    background: #fafafa;
    .border-radius(4px);
    .box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
    cursor: pointer;
    display: block;
    margin-bottom: 16px;

    &:hover {
      background: white;
      .box-shadow(0 1px 5px rgba(0, 0, 0, 0.3));
    }

    .p_i_left {
      float: left;
      width: 18%;

      .p_i_left_img {
        // image
        margin-top: 15px;
        margin-left: 20px;
        height: 80px;
        width: 80px;
        .border-radius(50%);
      }
    }

    .p_i_center {
      float: left;
      width: 55%;

      .p_i_center_t {
        // title
        font-size: 20px;
        margin: 0px;
        margin-top: 22px;
        color: #34495e;
      }
      .p_i_center_desc {
        // description
        font-size: 14px;
        margin-top: 10px;
        color: #34495e;
      }
    }

    .p_i_right {
      float: left;
      width: 27%;
      text-align: right;
      padding-right: 24px;

      .p_i_right_cost {
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 2px;
      }
      .p_i_right_pays {
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        color: #34495e;
      }
      .p_i_right_hands {
        margin-top: 4px;
        font-size: 14px;
        color: #34495e;
      }
    }

  }
}