{% load core_tags %}
{% if is_paginated %}
    <ul class="pager">
        {% if has_previous %}
            <li class="previous"><a href="?page={{ previous }}{{ getvars }}"
                    >&lsaquo;&lsaquo; Предыдущая</a></li>
        {% else %}
            <li class="disabled previous"><a href="#">&lsaquo;&lsaquo; Предыдущая</a></li>
        {% endif %}

        {% if show_first %}
            <li class="page"><a href="?page=1">1</a></li>
            <li class="ellipsis"><span>...</span></li>
        {% endif %}
        {% for linkpage in page_numbers %}
            {% ifequal linkpage page %}
                <li class="page active"><span>{{ page }}</span></li>
            {% else %}
                <li class="page"><a href="?page={{ linkpage }}{{ getvars }}"
                        >{{ linkpage }}</a></li>
            {% endifequal %}
        {% endfor %}
        {% if show_last %}
            <li class="ellipsis"><span>...</span></li>
            <li class="page"><a href="?page=last">{{ pages }}</a></li>
        {% endif %}

        {% if has_next %}
            <li class="next"><a href="?page={{ next }}{{ getvars }}">
                Следующая &rsaquo;&rsaquo;</a></li>
        {% else %}
            <li class="disabled next">Следующая &rsaquo;&rsaquo;</li>
        {% endif %}

    </ul>
{% endif %}