// Adaptive sizes

/* rules for mobile portret (> 480)  */
@xs: ~"only screen and (max-width : 480px)";

/* rules for mobile horizontal (480 > 768)  */
@hs: ~"only screen and (min-width : 480px) and (max-width : 768px)";

/* rules for tablet (768 > 992) */
@sm: ~"only screen and (min-width : 768px) and (max-width : 992px)";

/* rules for desktop (992 > 1200) */
@md: ~"only screen and (min-width : 992px) and (max-width : 1200px)";

/* rules for large (> 1200) */
@lg: ~"only screen and (min-width : 1200px)";