<!DOCTYPE html>
<html lang="en">
{% load compress %}
<head>
    <meta charset="utf-8">
    <title>Pays</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% compress css %}
        <link href="{{ STATIC_URL }}css/vendor/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    {% endcompress %}

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">

    <!--[if lt IE 9]>
        <script src="{{ STATIC_URL }}js/vendor/html5shiv.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% if request.path != '/login/' %}
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="navbar-header">
            {% if request.path != '/' %}
                <a href="/" class="navbar-back fui-arrow-left"></a>
            {% endif %}
            <a class="navbar-brand" href="/">PAYS</a>
            <ul class="navbar_links">
                {% if request.user.is_admin %}
                    <li class="navbar_links_i">
                        <a href="/admin/" class="navbar_links_i_a">Админка</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- /navbar -->
{% endif %}

{% block content %}{% endblock %}


<!-- Begin Scripts -->
{% compress js %}
    <script src="{{ STATIC_URL }}js/vendor/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/ui.js"></script>
{% endcompress %}
{% block js_footer %}{% endblock %}
<!-- End Scripts -->
</body>
</html>

