{% extends 'core/base.html' %}
{% load thumbnail %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="full-p">
                    <div class="full-p_left">

                        <img src="{% thumbnail object.logo 150x150 crop %}" class="full-p_left_img">
                    </div>
                    <div class="full-p_center">
                        <h3 class="full-p_center_t">{{ object.name }}</h3>

                        <p class="full-p_center_desc">{{ object.description_sm }}</p>
                    </div>
                    <div class="full-p_right">
                        <p class="full-p_right_cost">{{ object.want_money }} руб</p>

                        <p class="full-p_right_pays">{{ object.get_count_hands }} из {{ object.pays }} взяты</p>

                        {% if object.multi_hand %}
                            <p class="p_right_hands">Несколько в 1 руки</p>
                        {% else %}
                            <p class="p_right_hands">Только 1 на руки</p>
                        {% endif %}
                    </div>
                    <hr/>
                    <div class="full-p_cnt">

                        <div class="row">
                            <div class="col-sm-8">
                                <div class="full-p_cnt_desc">{{ object.description|safe }}</div>
                            </div>
                            <div class="col-sm-4">
                                <ul class="list-group">
                                    <li class="list-group-item">Отдает <b>{{ object.give_percent }}%</b></li>
                                    <li class="list-group-item"><a href="{{ object.site }}">Сайт</a></li>
                                    <li class="list-group-item"><a href="{{ object.prezi.url }}">Презентация</a></li>
                                </ul>
                                {% if object.get_count_hands < object.pays %}
                                    <form action="" method="POST">{% csrf_token %}
                                        {% if object.multi_hand %}
                                            <div class="full-p_cnt_slider">
                                                <p>Доли: <b id="full-p_cnt_slider_count">1</b> из <b
                                                        class="full-p_cnt_slider_max">{{ object.get_residue_pays }}</b></p>

                                            </div>
                                            <div id="slider"></div>
                                        {% endif %}
                                        <input type="hidden" id="full-p_cnt_slider_input" readonly name="count" value="1">
                                        <button type="submit" class="btn btn-block btn-primary">Купить долю</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="full-p_comments">
                        <h4>Комментарии</h4>

                        {% for comment in comments %}
                            <div class="full-p_comments_i">
                                <div class="row">
                                    <div class="col-sm-9">
                                        {{ comment.user.email }}
                                    </div>
                                    <div class="col-sm-3">
                                        {{ comment.created }}
                                    </div>
                                    <div class="col-sm-12">
                                        {{ comment.body }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="full-p_new-comment">
                        <form action="" method="POST">{% csrf_token %}
                            <div class="input-group">
                                <input type="text" name="body" class="form-control" placeholder="Напишите ваш комментарий">
                              <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Отправить</button>
                              </span>
                            </div>
                            <!-- /input-group -->
                        </form>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
            <!-- /row -->
        </div>
    </div>
    <!-- /row -->
    </div>
    <!-- /.container -->

{% endblock %}

{% block js_footer %}
    <script>
        $(function () {
            $("#slider").slider({
                value: 1,
                min: 0,
                max: {{ object.get_residue_pays }},
                step: 1,
                slide: function (event, ui) {
                    $("#full-p_cnt_slider_count").text(ui.value);
                    $("#full-p_cnt_slider_input").val(ui.value);
                }
            });
            $("#full-p_cnt_slider_count").text($("#slider").slider("value"));
        });
    </script>
{% endblock %}

