{% extends 'core/base.html' %}
{% load thumbnail %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="row p">

                    {% for object in object_list %}

                        <!-- Begin Item -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p_cnt">
                            <a href="{% url 'core:project-detail' object.pk %}" class="p_i">
                                <div class="p_i_left">

                                    <img src="{% thumbnail object.logo 150x150 crop %}" class="p_i_left_img">
                                </div>
                                <div class="p_i_center">
                                    <h3 class="p_i_center_t">{{ object.name }}</h3>

                                    <p class="p_i_center_desc">{{ object.description_sm }}</p>
                                </div>
                                <div class="p_i_right">
                                    <p class="p_i_right_cost">{{ object.want_money }} руб</p>

                                    <p class="p_i_right_pays">{{ object.get_count_hands }} из {{ object.pays }} взяты</p>
                                    {% if object.multi_hand %}
                                        <p class="p_i_right_hands">Несколько в 1 руки</p>
                                    {% else %}
                                        <p class="p_i_right_hands">Только 1 на руки</p>
                                    {% endif %}
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </div>
                        <!-- End Item -->
                    {% endfor %}

                </div>
                <!-- /row -->
                {% include 'core/utils/paginator.html' %}

            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /.container -->



{% endblock %}

{% block js_footer %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/inf.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var inf = jQuery.inf({
                container: '.p',
                item: '.p_cnt',
                pagination: '.pager',
                next: '.next a'
            });
        });
    </script>
{% endblock %}