{% extends 'core/base.html' %}

{% block content %}

    <div class="login-screen">
        <div class="container login">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="login-icon">
                                <img src="{{ STATIC_URL }}img/icons/png/Pensils.png">
                                <h4>Добро пожаловать</h4>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <form method="POST" action="{% url 'users:login' %}">
                                {% csrf_token %}
                                <div class="login-form">
                                    {% if message %}
                                        <p id="error-msg">{{ message }}</p>
                                    {% endif %}
                                    <div class="form-group">
                                        <input type="text" class="form-control login-field" value=""
                                               name="email"
                                               placeholder="Ваш email"
                                               id="login-name">
                                        <label class="login-field-icon fui-user" for="login-name"></label>
                                    </div>

                                    <div class="form-group">
                                        <input type="password" name="password" class="form-control login-field" value="" placeholder="Пароль"
                                               id="login-pass">
                                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                                    </div>
                                    <input type="hidden" name="next" value="{{ next }}">

                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Войти</button>
                                    {#                                <a class="login-link" href="#">Lost your password?</a>#}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}