//
//  Login screen
// --------------------------------------------------

// Module color variable
@form-color: mix(@brand-primary, @inverse, 9%);

.login {
  &:extend(.vertical-align);
}


.login-screen {
  background-color: @brand-secondary;
  height: 100%;
  width: 100%;
  position: absolute;
  display: block;
}

.login-icon {
  width: 96px;

  > img {
    display: block;
    margin-bottom: 6px;
    width: 100%;
  }
  > h4 {
    font-size: 17px;
    font-weight: 300;
    line-height: 34px;
    opacity: .95;

    small {
      color: inherit;
      display: block;
      font-size: inherit;
      font-weight: 700;
    }
  }
}

// LOGIN FORM
// -----------
.login-form {
  background-color: @form-color;
  padding: 24px 23px 20px;
  position: relative;
  border-radius: @border-radius-large;

  .control-group {
    margin-bottom: 6px;
    position: relative;
  }
  .login-field {
    border-color: transparent;
    font-size: 17px;
    text-indent: 3px;

    &:focus {
      border-color: @brand-secondary;

      & + .login-field-icon {
        color: @brand-secondary;
      }
    }
  }
  .login-field-icon {
    color: mix(@gray, @inverse, 60%);
    font-size: 16px;
    position: absolute;
    right: 15px;
    top: 3px;
    transition: all .25s;
  }
}

.login-link {
  color: mix(@gray, @inverse, 60%);
  display: block;
  font-size: 13px;
  margin-top: 15px;
  text-align: center;
}